/* customr css and js files included at the top level of your presentation will
 * will be included in your presentation */

@media screen {
  body {
      font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  }

  #preso, .slide {
      background: #fff;
      width: 1020px;
      height: 740px;
      margin-left:auto;
      margin-right:auto;
      overflow:hidden;
  }

  #footer {
      background: #eee;
      padding: 2px;
      width: 1010px;
      height: 20px;
      margin-left:auto;
      margin-right:auto;
  }
}


h1 {
/*	position: absolute;
	top: 0px;
	left: 460px;*/
	position:absolute;
	top: 0px;
	text-align: left;
	margin-left: 25px;
	color: #006;
}

.smbullets ul {
    font-size: 1.5em;
}

.smbullets ul li {
    text-align: left;
    padding: 15px;
}

.bullets ul {
    font-size: 3em;
}

.bullets ul li {
    text-align: left;
    padding: 25px;
}

pre {
	font-size: 2em;
/*	margin-left: 200px;*/
	border-width: 2px;
}

code {

}

.subsection {
    background: #008;
    color: #fff;
}



